.contacts_heading {
    text-transform: uppercase;
    font-size: 23px;
    color: #333333;
    text-align: center;
    padding-bottom: 40px;
}

.contacts_inner {
    display: flex;
    justify-content: space-between;
    gap: 111px;
    padding-bottom: 60px;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 60px;
}

.contacts_title {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 140%;
    text-align: center;
}

.contacts p {
    padding-top: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    text-align: right;
}

.map {
    margin-bottom: 120px;
}