@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Raleway;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header-main {
    background-color: transparent;
    padding-top: 25px;
}
.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #333333;
}

.wrapper {
    background-image: url(/img/bgc.svg);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.btn-mob {
    display: none;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}

.logo {
    margin: 0 auto;
}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: #FFFFFF;
}

.menu li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.input-form {
    background-image: url(/img/back.svg);
    background-size: cover;
    background-position: center;

}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reg p {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 15px;
}

.reg h5 {
    padding-bottom: 45px;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.reg-list-menu {
    display: flex;
    flex-direction: column;
}
.reg-list {
    color: #FFFFFF;
    display: inline-flex;
    gap: 20px;
    padding-bottom: 15px;
    padding-right: 80px;
    font-size: 18px;
    font-weight: 200;
}

.subscribe-container {
    display: flex;
    border: 1px solid #FFFFFF;
    padding: 14px 15px;
    margin: 0;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.subscribe-form input {
    padding: 15px 65px 14px 20px;
    margin: 20px 0px 20px 22px;
    font-size: 14px;
    font-weight: 200;
    color: #333333;
    letter-spacing: 2px;
    border: 1px solid #D6D6D6;
}

.subscribe-form button {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
    padding: 15px 35px;
    background-color: #333333;
    border: 1px solid #333333;
    cursor: pointer;
    transition: transform 0.4s ease;
    margin: 20px 22px 20px 15px;
}

.subscribe-form button:hover {
    transform: scale(1.1)
}

.footer {
    background-color: #FFFFFF;
    padding: 80px 0px 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-title p {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer-menu {
    padding-top: 30px;
    width: 255px;
    list-style-type: none;
}

.footer-title li a {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

.footer-item {
    margin-bottom: 15px;
    transition: transform 0.4s ease
}

.footer-bottom {
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-top: 1px solid #333333;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    transition: transform 0.4s ease
}

.footer-link li:hover {
    transform: scale(1.1)
}

.main-links {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 23px;
}

.links {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    line-height: 140%;
}

.links:hover {
    transition: transform 0.4s ease;
    text-decoration: underline;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .btn-mob {
        margin-left: auto;
        background: transparent;
        display: block;
        border: none;
    }
    .nav.open .menu {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #333333;
        color: #FFFFFF;
    }
}